<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="no.agens.androidtweakslibrary">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">

        <service
            android:name=".services.TweakStoreService"
            android:enabled="true"
            android:permission="android.permission.SYSTEM_ALERT_WINDOW"/>

    </application>
</manifest>