<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="no.agens.androidtweakslibrary">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".activities.TweakStoreActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light"/>

        <activity
            android:name=".activities.CollectionActvity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.TweakStoreActivity"
            android:theme="@style/Theme.AppCompat.Light"/>

        <service
            android:name=".services.DrawerService"
            android:enabled="true"
            android:permission="android.permission.SYSTEM_ALERT_WINDOW"/>
    </application>
</manifest>